<div id = 'header_row' class="hidden">
<div id="head" class="row margin_zero" style="background: #f1f1f1">
  <div class="col-md-6 col-xs-6 col-sm-6">
    <h1 id='logo'>
      <%#= link_to Refinery::Core.site_name, refinery.root_path %>
      <a href="/"><img src="/images/metron_logo.png" style="  padding-top: 15px;"></a>
    </h1>
  </div>
  <div class="col-md-6 col-xs-6 col-sm-6" style="padding-top: 30px;  padding-left: 15%;">
    <div><span><img src="/images/mail_icon.png"></span><b style="  padding-left: 10px;">info@metronconsulting.com</b></div>
    <div><span><img src="/images/mobile_icon.png"></span><b style="  padding-left: 10px;">1800-796-0478</b></div>
  </div>
</div>
<%= Refinery::Pages::MenuPresenter.new(refinery_menu_pages, self).to_html %>
      <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" style="  text-align: -webkit-center;">
        <ol class="carousel-indicators">
          <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-example-generic" data-slide-to="1"></li>
          <li data-target="#carousel-example-generic" data-slide-to="2"></li>
          <li data-target="#carousel-example-generic" data-slide-to="3"></li>
        </ol>
        <div class="carousel-inner">
          <div class="item active">
            <img class="banner-img" src="/images/ecomm-banner4.jpg" alt="slider3" />
          </div>
          <div class="item">
            <img class="banner-img" src="/images/web_design_bg.jpg" alt="slider2" />
            <div style="top: 33%;background: #003649;opacity: 0.6;" class="carousel-caption">
              <h3 style="color: #B3ECE7;">E Commerce Web Development!</h3>
              <div style="color: white;background-color: #167194; width: 32%;margin-left: 32%;">Easily update products at any time.</div>
              <div style="color: white;background-color: #065664;width: 32%;margin-left: 40%;">Sell your products online.</div>
              <div style="color: white;  background-color: #02282A; width: 32%;margin-left: 48%">Quick,Easy and Convenient.</div>
            </div>
          </div>
          <div class="item">
            <img class="banner-img"  src="/images/ecomm-banner3.png" alt="slide1" />
          </div>
          <div class="item">
            <img class="banner-img" src="/images/ecomm-banner2.jpg" alt="slider4" />
          </div>
        </div>
      </div>
    </div>


<div id='header_row_1' class="row margin_zero hidden">
  <div style="text-align: center;padding-top: 20px;padding-bottom: 20px">
  <a class="toggle"><img src="/images/menu-btn.png" style="  width: 4%;"></a>
    <%= Refinery::Pages::MenuPresenter.new(refinery_menu_pages, self).to_html %>
  </div>
  <div id="carousel-example-generic1" class="carousel slide" data-ride="carousel" style="  text-align: -webkit-center;">
    <ol class="carousel-indicators">
      <li data-target="#carousel-example-generic1" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-example-generic1" data-slide-to="1"></li>
      <li data-target="#carousel-example-generic1" data-slide-to="2"></li>
      <li data-target="#carousel-example-generic1" data-slide-to="3"></li>
    </ol>
    <div class="carousel-inner">
      <div class="item active">
        <img class="banner-img" src="/images/ecomm-banner4.jpg" alt="slider3" />
      </div>
      <div class="item">
        <img class="banner-img" src="/images/web_design_bg.jpg" alt="slider2" />
        <div style="top: 33%;background: #003649;opacity: 0.6;" class="carousel-caption">
          <h3 style="color: #B3ECE7;">E Commerce Web Development!</h3>
          <div style="background-color: #167194">Easily update products at any time.</div>
          <div style="background-color: #065664">Sell your products online.</div>
          <div style="  background-color: #02282A">Quick,Easy and Convenient.</div>
        </div>
      </div>
      <div class="item">
        <img class="banner-img"  src="/images/ecomm-banner3.png" alt="slide1" />
      </div>
      <div class="item">
        <img class="banner-img" src="/images/ecomm-banner2.jpg" alt="slider4" />
      </div>
    </div>
  </div>

</div>