.blog{
    margin-top: -7px;
    width: 100%;
}
.blog .header-bar .twitter-box {
    display: inline;
    float: right;
    text-align: right;
    margin-top: 25px;
}
.blog .header-bar {
    position: relative;
    background-color: #f6f6f6;
}
.header-bar {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: auto;
    font-size: 13px;
    font-size: 0.8125rem;
    -webkit-transition: background-color, 0.5s;
    -moz-transition: background-color, 0.5s;
    transition: background-color, 0.5s;
    min-height: 80px;
    padding: 0;
    z-index: 50;
}
header, .hgroup, nav, section, summary {
    display: block;
}
.blog .header-bar .container {
    width: 90%;
    padding: 0;
    text-align: center;
}

.blog .container {
    width: 90%;
    padding: 0 0 75px;
    max-width: 770px;
}

.container {
    max-width: 1040px;
    margin-left: auto;
    margin-right: auto;
    padding: 100px 20px 75px 20px;
}

.container:after {
    content: "";
    display: table;
    clear: both;
}
.blog .header-bar .back-home {
    margin-top: 25px;
    display: inline;
    float: left;
}
.header-bar p {
    margin-top: 0;
    -webkit-padding-start: 0px;
}
.header-bar a {
    color: #0099cc;
}
.logo a {
    overflow: hidden;
    height: 22px;
}

a {
    color: #888888;
    text-decoration: none;
}
.logo a:before {
    content: "";
    display: block;
    width: 0;
    /*height: 100%;*/
}

.blog article {
    padding: 60px 0 25px 0;
    border-bottom: 1px solid #e6e6e6;
}
article{
    display: block;
}
.blog article header {
    text-align: center;
}
header{
    display:block;
}
.blog-section h1{
    font-weight: 500;
    margin-bottom: 30px;
    font-size: 1.875rem;
}
h1{
    margin: 0 0 20px;
    line-height: 1em;
}
.blog article header h6 {
    color: #888888;
}
.blog-section h6{
    margin-bottom: 30px;
}
h6 {
    font-size: 1rem;
}
.shared-headings, h1, h2, h3, h4, h5, h6 {
    margin: 0 0 20px;
    line-height: 1em;
    font-weight: 300;
}
.blog-section p {
    line-height: 1.75em;
    margin-bottom: 30px;
}
.blog .header-bar .logo {
    text-align: center;
    height: 22px;
    width: 150px;
    margin: 25px auto 0;
    display: inline;
    float: center;
    display: inline-block;
}
.logo {
    display: inline;
    float: left;
    position: relative;
    margin-top: 31px;
    z-index: 3;
    margin-left: 20px;
}
.blog article .index-summary a img {
    width: 100%;
}
.blog article header h1 a {
    text-decoration: none;
    color: #000;
}
.blog article header h1 a:hover {
    color: #04467E;
}
.blog-section .container{
    padding: 45px 0 75px;
}

.blog article.blog-post {
    border-bottom: none;
}

.blog-post header {
    text-align: center !important;
}
.blog .container {
    width: 90%;
    padding: 0 0 75px;
    max-width: 770px;
}
.blog-post header h1 a {
    text-decoration: none;
    color: #000;
}
.blog-post header h1 a:hover {
    color: #04467E;
}
.comments {
    margin: 0 148px 52px 211px;

}
.comments-header {
    text-align: center;
}
.comments .separator {
    position: relative;
    height: 3px;
    width: 100%;
    background: #dadada;
    border-bottom: solid 1px #fff;
}
.comment {
    position: relative;
    padding: 25px 10px;
}
.leave-comment {
    margin: 0 0 120px 80px;
}
#reply-title {
    text-align: center;
    font-size: 24px;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 10px;
}
a {
    color: #3b74a9;
}
a {
    text-decoration: none;
}
.leave-comment form {
    width: 88%;
    padding-left: 11%;
}
.leave-comment .separator {
    position: relative;
    height: 3px;
    width: 100%;
    background: #dadada;
    border-bottom: solid 1px #fff;
    margin-bottom: 10px;
}
.leave-comment form .input-field div:first-child {
    font-size: 15px;
    line-height: 28px;
    margin-top: 4px;
}
.leave-comment form .input-field .input-style {
    display: block;
    width: 100%;
}
.sc-input {
    padding: 10px;
    border-radius: 8px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    /*box-shadow: 0 1px 0 0 rgba(0,0,0,0.1) inset;*/
}
.leave-comment form .input-field {
    display: block;
    float: left;
    width: 49.166666%;

}
.leave-comment form .input-field.text-area {
    width: 100%;

}
#commentform input[type=submit] {
    display: inline-block;
    cursor: pointer;
    font-size: 10px;
    padding: 8px 40px;
    margin-top: 10px;
    margin-right: 7px;
    text-transform: uppercase;
    border-width: 1px;
    border-color: #f3f3f3;
    border-style: solid;
    border-radius: 8px;
    box-shadow: 1px 1px 0 0 rgba(0, 0, 0, 0.1);
    color: #45484a;
    position: relative;
}
.input-field #comment_author {
    background-color: rgb(230, 230, 230);
    border-style: hidden;
    width: 60%;
}
.input-field #comment_email {
    background-color: rgb(230, 230, 230);
    border-style: hidden;
    width: 54%;
}
.input-field #comment_message {
    background-color: rgb(230, 230, 230);
    border-style: hidden;
}
.separator-comment  {
    top: 0;
    width: 100%;
    height: 1px;
    margin-left: 0px;
    background: #dadada;
    background-position: 0 -15px;
}
.form-contents{
    margin: 0px 58px 1px;
    width: 109%;
}
.comment-respond{
    margin-top: 150px;
}
.post-author{
  margin-top: -66px;
  margin-left: 74px;
  font-size: large;
  font-style:italic;
}
.post-date{
  margin-top: -21px;
  font-size: small;
  color: rgba(132, 136, 144, 1);
}
.blog-comment{
  margin-left: 93px;
  margin-top: 12px;
}
.photo{
  background-image: url('/images/avatar1.png');
  border-radius: 58%;
  background-size: contain;
}
.comment-reply-link{
    color: #23527c;
    text-decoration: None;
}
.comments-section{
    margin-left: -95px;
}
.nocomment{
    position: absolute;
    margin-top: -102px;
    margin-left: 487px;
}